<div class="row">
	<div class="col-md-8">
    	<div class="media">
    		<div class="media-body">
        		<h2 class="media-heading"><%= @user.name %></h2>
        		<p class="media-body"><%= @user.email %></p>
        		<br>
        		<h3 class="media-heading">My To-Do Items</h3>
			      <div class="row">
			        <div class="col-md-4">
			          Description
			        </div>
			        <div class="col-md-2">
			          Days Left
			        </div>
			        <div class="col-md-1">
			          Completed
			        </div>
			      </div>
        		<div class='js-items'>
        			<%= render partial: 'items/item', collection: @items %>
        		</div>
        		<br>
	    		<% if policy(@item).create? %>
	    			<div class='new-item'>
	    				<%= render partial: 'items/form', locals: { user: @user, item: @item } %>
	    			</div>
	    		<% end %>
       		</div>
	  	</div>
    </div>
</div>
